* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid #fff; */
}

:root {
  --primary-color: #222831;
  --secondary-color: #00adb5;
  --accent-color: #393e46;
  --base-color: #eeeeee;
}

body {
  max-width: 480px;
  min-width: 320px;
  height: 100vh;
  margin-inline: auto;
  background-color: var(--primary-color);
  color: var(--base-color);
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

input::placeholder {
  color: #888;
}

ul {
  list-style-type: none;
}

header {
  width: 100%;
  height: 2rem;
  margin-block: 0.25rem 2rem;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.25rem;
  background-color: var(--primary-color);
  border-bottom: 1px solid #fff;
  font-size: 1.8rem;
  font-weight: 500;
}

header > svg.lucide-notebook-tabs {
  width: 28px;
  height: 28px;
  align-self: center;
}

header > span {
  align-self: center;
}

main {
  width: 80%;
  margin-inline: auto;
}

div.newTaskWrapper {
  width: 100%;
  margin-inline: auto;
  padding: 1rem 0rem 0.8rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: var(--accent-color);
  border: 1px solid var(--base-color);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

div.newTaskWrapper:hover div.taskButtons {
  display: block;
}

input.taskTitle {
  width: 100%;
  padding-inline: 1rem;
  background-color: transparent;
  color: var(--base-color);
  font-family: "DM Sans", sans-serif;
  border: none;
  outline: none;
  font-size: 1.25rem;
  font-weight: 700;
}

ul.taskList {
  margin-block: 1rem;
}

li.taskListItem {
  margin-inline: 0.25rem;
  padding: 0.25rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.25rem;
  background-color: var(--primary-color);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2), 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.2s ease;
}

li.taskListItem:hover {
  border-top: 1px solid rgba(255, 255, 255, 0.192);
  border-bottom: 1px solid rgba(255, 255, 255, 0.192);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), -6px 0px 15px rgba(0, 0, 0, 0.1);
}

li.taskListItem:hover svg.lucide-x {
  display: block;
}

svg.lucide-plus {
  width: 18px;
  height: 18px;
  flex: 18px;
  margin: 0.25rem;
}

svg.lucide-square {
  display: none;
  width: 20px;
  height: 20px;
  flex: 20px;
  align-self: flex-start;
  margin: 0.45rem 0.25rem;
  cursor: pointer;
}

svg.lucide-square-check {
  display: none;
  width: 20px;
  height: 20px;
  flex: 20px;
  align-self: flex-start;
  margin: 0.45rem 0.25rem;
  cursor: pointer;
}

.isChecked {
  text-decoration: line-through;
}

textarea.checkboxText {
  flex: 90%;
  padding-block: 0.25rem;
  resize: none;
  overflow: hidden;
  line-height: 1.5;
  background-color: transparent;
  color: var(--base-color);
  border: none;
  outline: none;
  font-family: "DM Sans", sans-serif;
  font-size: 0.85rem;
  font-weight: 500;
  transition: height 0.2s ease-in-out;
}

div.removeBtnWrapper {
  flex: 24px;
  align-self: flex-start;
  margin: 0.25rem;
  border-radius: 2rem;
}

svg.lucide-x {
  width: 24px;
  height: 24px;
  display: none;
  padding: 0.25rem;
  border-radius: 2rem;
  cursor: pointer;
}

svg.lucide-x:hover {
  background-color: rgba(255, 255, 255, 0.192);
}

div.taskButtonWrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 0.15rem;
}

div.taskButtonWrapper:hover div.taskButtons {
  display: block;
}

div.taskButtons {
  display: none;
  border-radius: 2.25rem;
  margin-inline: 0.25rem;
  transition: display 0.2s ease-in-out;
}

div.taskButtons:hover {
  background-color: rgba(255, 255, 255, 0.192);
}

div.taskButtons > svg {
  width: 32px;
  height: 32px;
  padding: 0.25rem;
  vertical-align: middle;
  border-radius: 2.25rem;
  cursor: pointer;
}

section.savedTaskContainer {
  margin-block: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

section.savedTaskContainer > header {
  width: 80%;
  margin: 1rem auto;
  padding: 0.25rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  color: #888;
}

section.savedTaskContainer > header > h2 {
  font-size: 1.25rem;
  font-weight: 500;
}

section.savedTaskContainer > header > svg {
  width: 20px;
  height: 20px;
}

section.savedTaskContainer > span {
  width: 80%;
  margin-block: 3rem;
  margin-inline: auto;
  text-align: center;
  color: #888;
}

div.savedTask > ul.taskList {
  display: none;
}

div.savedTaskWrapper {
  border: 1px solid var(--base-color);
  width: 80%;
  margin-inline: auto;
  padding: 1rem 0rem 0.8rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: rgba(1, 162, 170, 0.5);
  border: 1px solid var(--base-color);
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

div.savedTaskButtons > div.taskButtons {
  display: block;
}

div.savedTaskButtons > div.taskButtons > svg {
  width: 30px;
  height: 30px;
}

/* Media Queries */
/* min-width 600px */
@media (min-width: 600px) {
  body {
    max-width: 90%;
    font-size: 17px;
  }

  header {
    font-size: 2rem;
    justify-content: center;
  }

  main {
    width: 90%;
  }

  div.newTaskWrapper,
  div.savedTaskWrapper {
    width: 90%;
  }

  section.savedTaskContainer > header,
  section.savedTaskContainer > span {
    width: 90%;
  }
}

/* min-width 768px */
@media (min-width: 768px) {
  body {
    width: 80%;
    min-width: 70%;
    font-size: 18px;
  }

  div.newTaskWrapper,
  div.savedTaskWrapper {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-between;
    padding: 1rem;
  }

  div.taskInputContainer {
    width: 100%;
  }

  input.taskTitle {
    font-size: 1.5rem;
  }

  ul.taskList {
    flex: 0 1 100%;
  }

  section.savedTaskContainer > header {
    font-size: 1.5rem;
  }

  section.savedTaskContainer > span {
    font-size: 1rem;
  }

  textarea.checkboxText {
    font-size: 1rem;
  }

  svg.lucide-plus {
    width: 22px;
    height: 22px;
    flex: 22px;
  }

  svg.lucide-square {
    width: 24px;
    height: 24px;
    flex: 24px;
  }

  svg.lucide-square-check {
    width: 24px;
    height: 24px;
    flex: 24px;
  }

  div.removeBtnWrapper {
    flex: 28px;
  }

  svg.lucide-x {
    width: 28px;
    height: 28px;
  }

  div.taskButtons {
    margin-inline: 0.5rem;
  }

  div.taskButtons > svg {
    width: 42px;
    height: 42px;
  }

  div.savedTaskButtons > div.taskButtons > svg {
    width: 36px;
    height: 36px;
  }
}

/*  min-width 1024px */
@media (min-width: 1024px) and (max-width: 1279px) {
  body {
    width: 50%;
    font-size: 18px;
  }

  header {
    font-size: 2.2rem;
  }

  header > svg.lucide-notebook-tabs {
    width: 34px;
    height: 34px;
  }

  div.newTaskWrapper,
  div.savedTaskWrapper {
    padding: 2rem;
  }

  input.taskTitle {
    font-size: 1.75rem;
  }

  li.taskListItem {
    padding: 0.85rem;
  }

  textarea.checkboxText {
    font-size: 1.25rem;
  }

  svg.lucide-plus {
    width: 22px;
    height: 22px;
    flex: 22px;
  }

  svg.lucide-square {
    width: 24px;
    height: 24px;
    flex: 24px;
  }

  svg.lucide-square-check {
    width: 24px;
    height: 24px;
    flex: 24px;
  }

  div.removeBtnWrapper {
    flex: 28px;
  }

  svg.lucide-x {
    width: 28px;
    height: 28px;
  }

  div.taskButtons {
    margin-inline: 0.5rem;
  }

  div.taskButtons > svg {
    width: 42px;
    height: 42px;
  }

  div.savedTaskButtons > div.taskButtons > svg {
    width: 36px;
    height: 36px;
  }

  section.savedTaskContainer > span {
    font-size: 1rem;
  }

  section.savedTaskContainer > header {
    padding: 1.25rem;
  }

  section.savedTaskContainer > header > h2 {
    font-size: 1.5rem;
  }

  section.savedTaskContainer > header > svg {
    width: 28px;
    height: 28px;
  }
}

/* 1280px – 1439px */
@media (min-width: 1280px) and (max-width: 1439px) {
  body {
    width: 60%;
    font-size: 18px;
  }

  header {
    width: 70%;
    font-size: 2.2rem;
    margin-inline: auto;
  }

  header > svg.lucide-notebook-tabs {
    width: 34px;
    height: 34px;
  }

  div.newTaskWrapper,
  div.savedTaskWrapper {
    width: 70%;
    padding: 2rem;
  }

  input.taskTitle {
    font-size: 1.75rem;
  }

  li.taskListItem {
    padding: 0.85rem;
  }

  textarea.checkboxText {
    font-size: 1.25rem;
  }

  svg.lucide-plus {
    width: 24px;
    height: 24px;
    flex: 24px;
  }

  svg.lucide-square {
    width: 28px;
    height: 28px;
    flex: 28px;
  }

  svg.lucide-square-check {
    width: 28px;
    height: 28px;
    flex: 28px;
  }

  div.removeBtnWrapper {
    flex: 30px;
  }

  svg.lucide-x {
    width: 30px;
    height: 30px;
  }

  div.taskButtons {
    margin-inline: 0.5rem;
  }

  div.taskButtons > svg {
    width: 42px;
    height: 42px;
  }

  div.savedTaskButtons > div.taskButtons > svg {
    width: 36px;
    height: 36px;
  }

  ssection.savedTaskContainer > span {
    font-size: 1rem;
  }

  section.savedTaskContainer > header {
    width: 70%;
    padding: 1.25rem;
  }

  section.savedTaskContainer > header > h2 {
    font-size: 1.5rem;
  }

  section.savedTaskContainer > header > svg {
    width: 28px;
    height: 28px;
  }
}

@media (min-width: 1440px) {
  body {
    width: 50%;
    font-size: 18px;
  }

  header {
    width: 70%;
    font-size: 2.2rem;
    margin-inline: auto;
  }

  header > svg.lucide-notebook-tabs {
    width: 34px;
    height: 34px;
    align-self: center;
  }

  div.newTaskWrapper,
  div.savedTaskWrapper {
    width: 70%;
    padding: 2rem;
  }

  input.taskTitle {
    font-size: 1.75rem;
  }

  li.taskListItem {
    padding: 0.75rem;
  }

  textarea.checkboxText {
    font-size: 1.25rem;
  }

  svg.lucide-plus {
    width: 28px;
    height: 28px;
    flex: 28px;
  }

  svg.lucide-square {
    width: 26px;
    height: 26px;
    flex: 26px;
  }

  svg.lucide-square-check {
    width: 26px;
    height: 26px;
    flex: 26px;
  }

  div.removeBtnWrapper {
    flex: 30px;
  }

  svg.lucide-x {
    width: 30px;
    height: 30px;
  }

  div.taskButtons {
    margin-inline: 0.5rem;
  }

  div.taskButtons > svg {
    width: 42px;
    height: 42px;
  }

  div.savedTaskButtons > div.taskButtons > svg {
    width: 36px;
    height: 36px;
  }

  section.savedTaskContainer > span {
    font-size: 1.5rem;
  }

  section.savedTaskContainer > header {
    width: 70%;
    padding: 1.25rem;
  }

  section.savedTaskContainer > header > h2 {
    font-size: 1.5rem;
  }

  section.savedTaskContainer > header > svg {
    width: 28px;
    height: 28px;
  }
}
